/*-------------------*/
/* Custom properties */
/*-------------------*/

:root {
    /* colors*/
    --clr-dark: 0 6% 24%;
    --clr-soft-red: 0 93% 68%;
    --clr-desaturated-red: 0 36% 70%;

    /* font-sizes */
    --fs-600: 2.5rem;
    --fs-400: 0.875rem;
}
/*-------------------*/
/* Reset             */
/*------------------ */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
p {
    margin: 0;
}

/* set up the body */
body {
    line-height: 1.5;
    min-height: 100vh; /* it prevents short pages */
    font-family: 'Josefin Sans', sans-serif;
}

/* make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off*/

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}

/*------------------*/
/* Utility classes  */
/*------------------*/

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* colors */
.text-dark { color: hsl( var(--clr-dark) );}
.text-soft { color: hsl( var(--clr-soft-red) );}
.text-desaturated { color: hsl( var(--clr-desaturated-red) );}

/* typography */

.uppercase { text-transform: uppercase; }

.fs-600 { font-size: var(--fs-600); }
.fs-400 { font-size: var(--fs-400); }


/* Container's styles */

.header {
    height: 100px;
}

.header-logo {
    position: relative;
    margin: 0 auto;
}

.logo {
    position: absolute;
    top: 31px;
    left: 32px;
}

.container-content-description {
    margin-top: 64px;
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

h1 {
    text-align: center;
    line-height: 42px;
    letter-spacing: 10.83px;
    font-weight: 300;
    padding-bottom: 20px;
}

span {
    font-weight: 600;
}

.content-description {
    padding-bottom: 30px;
    text-align: center;
    line-height: 22px;
}

form {
    display: block;
    height: 2.5rem;
    width: 100%;
    position: relative;
}


input[type="email"] {
    width: 100%;
    height: 100%;
    outline: none;
    border: 1px solid #CE9898;
    border-radius: 100px;
    padding-left: 1.5rem;
    opacity: 0.5;
}

.btn {
    position: absolute;
    width: 3.5rem;
    height: 100%;
    right: 0;
    top: 0;
    border: none;
    border-radius: 25px;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: 0px 15px 20px rgba(198,108,108,0.25);
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 60%));
    box-shadow: 0px 15px 15px rgb(198 108 108 / 70%);
    transform: scale(1.05);
}

i.fas.fa-chevron-right {
    color: hsl(0, 0%, 100%);
}

#error {
    position: relative;
}

.error-icon {
    position: absolute;
    top: -29px;
    left: 210px;
    display: none;
}

.error-message {
    display: none;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 11px;
}
